html {
    font-size: 12px;
  }

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

@media (min-width: 768px) {
    .img-fluid5 {
      width: 50%;
      max-height: auto;
    }
  }

  @media (min-width: 768px) {
      .img-fluidheader {
        max-width: 500px;
        max-height: auto;
    }
  }

  @media (max-width: 768px) {
    body h2, .h2{
      font-size: 38px !important;
      line-height:50px !important;
    }
  }

  @media (max-width: 768px) {
    body p1{
          font-size: 1.6rem !important;
          line-height: 28px !important;
            }
  }

      body h2, .h2{
          letter-spacing: -1px;
          font-size: 52px;
          letter-spacing: -1px;
          line-height:60px;
          font-weight: 800;
          width: 100% !important;
        }

body {
    font-family: 'Muli' !important;
    letter-spacing: 0px !important;
    color: #2F3342 !important;
  }

body h1{
      letter-spacing: -1px !important;
      font-weight: 700 !important;
    }

    body p1{
          letter-spacing: 0px !important;
          font-weight: 300 !important;
          color: #3E3F42 !important;
          line-height: 2.4rem;
          font-size: 24px;
            }

body p{
      letter-spacing: 0px !important;
      font-weight: 300 !important;
      color: #3E3F42 !important;
      font-size: 1.1rem;
        }

body a{
      letter-spacing: 0px !important;
      font-weight: 700 !important;
      font-size: 1rem;
      color: #2F3342 !important;
    }

a:hover{
    text-decoration: none;
}

  #navbar {
    background-color: #FFFFFF;
    position: fixed; /* Make it stick/fixed */
    top: -55px; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 1;
  }

  .container {
    max-width: 1200px;
  }

  .headingcontainer{
    max-width: 1200px;
    text-align: center;
  }

  .pricing-header {
    max-width: 700px;
  }

  .card-deck .card {
    min-width: 220px;
  }

  .img-fluid {
    max-width: 60%;
    max-height: auto;
  }

  .img-fluidheader {
    max-width: 90%;
    max-height: auto;
  }

  .img-fluid5 {
    max-width: 75%;
    max-height: auto;
  }

  .btn-dark, .btn-dark:active:focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
    background-color: #EB1D42 !important;
    border-color: #EB1D42 !important;
  }

  .btn-danger, .btn-danger:active:focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover {
    background-color: #EB1D42 !important;
    border-color: #EB1D42 !important;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
  }

  /* MARKETING CONTENT
-------------------------------------------------- */

  .marketing{
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 1000px;
  }

  @media (min-width: 768px) {
    .marketing{
        margin-top: 7rem;
        margin-bottom: 7rem;
        max-width: 1000px;
      }
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .features{
    margin-top: 6rem;
    padding-bottom: 6rem;
    max-width: 1000px;
  }

  .card-header{
    background-color: white;
  }

  .card{
    border: 0px;
  }

  .collapseButton{
    border: 0px;
    width: 90%;
    text-align: left;
    background-color: #FFFFFF;
  }

  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn.focus:active,
  .btn:active:focus,
  .btn:focus {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
  }
