html {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 14px;
    }
  }

  .jumbotron {
    background-image: url("background.png");
    height: 1000px;
    width: 100%}

  .container {
    max-width: 1200px;
  }

  .pricing-header {
    max-width: 700px;
  }

  .card-deck .card {
    min-width: 220px;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  html {
    font-size: 1rem;
  }

  @include media-breakpoint-up(md) {
    html {
      font-size: .1rem;
    }
  }

  /* MARKETING CONTENT
-------------------------------------------------- */

  .marketing{
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: 1000px;
  }

  @media (min-width: 768px) {
    .marketing{
        margin-top: 7rem;
        margin-bottom: 7rem;
        max-width: 1000px;
      }
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  .features{
    margin-top: 6rem;
    padding-bottom: 6rem;
    max-width: 1000px;
  }

  .card-header{
    background-color: white;
  }

  .card{
    border: 0px;
  }

  .btn{
    background-color: #FFFFFF;
    border: none;
  }
